<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse sidebar-main" tabindex="5000"
        style="overflow: hidden; outline: none; margin-left: 0px;">
        <div class="row row-container">
            <div class="pull-left v-margin-top-v-big">
                <span id="welcome-msg">
                    Welcome Julian
                </span>
            </div>
            <div id="sidebar-logo-box"></div>
        </div>
        <div class="col-md-12 row-container sidebar-menu-container">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion" style="display: block;">

                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent active">
                        <i class="fa fa-users"></i>
                        <span>Users</span>
                        <span class="dcjq-icon"></span>
                    </a>
                    <ul class="sub" style="display: none;">
                        <li>
                            <router-link to="/back-office/users/back-office">Back-Office</router-link>
                        </li>
                        <li>
                            <router-link to="/back-office/users/partner">Partner</router-link>
                        </li>
                        <li>
                            <router-link to="/back-office/users/lottery">Lottery</router-link>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="index.html">
                        <i class="fa fa-smile-o"></i>
                        <span>Partners</span>
                    </a>
                </li>

                <li>
                    <a href="index.html">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Campaigns</span>
                    </a>
                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </div>
    <div class="bottom-anchored white h-margin-small">
        &copy; 2020
    </div>
</aside>
<!--sidebar end-->




