<div class="main-route-content">
    <div class="row">
        <section class="col-md-2 pull-right route-header-right-container-top-padded-m">
            <search-field 
                v-on:search-query-update="searchBackOfficeUsers"
                v-on:search-query-cleared="searchCleared" />
        </section>
        <section v-if="hasUsers">
            <span class="much-larger-font bold-font">{{users.pageData.totalElements}}</span>
            <span v-if="!users.searchResults">{{quantity(users.pageData.totalElements, 'registered user')}}</span>
            <span v-if="users.searchResults">
                {{quantity(users.pageData.totalElements, 'result')}} 
                for <span class="blue">{{users.searchQuery}}</span>
            </span>
        </section>
    </div>
    <div class="row">
        <div v-if="hasUsers">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-1">ID</th>
                        <th class="col-md-3">Name</th>
                        <th class="col-md-2">Username</th>
                        <th class="col-md-1">Email</th>
                        <th class="col-md-2">Created</th>
                        <th class="col-md-2">Last Login</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="user in users.list">
                        <td>
                            {{user.id}}
                        </td>
                        <td>
                            <span class="wine bold-font slight-bigger-font">{{user.name}}</span>
                        </td>
                        <td>
                            <span class="dark-grey">{{user.username}}</span>
                        </td>
                        <td>
                            <a :href="'mailto:' + user.email">{{user.email}}</a>
                        </td>
                        <td>
                            <span>{{user.timeAdded}}</span>
                        </td>
                        <td></td>
                        <td>
                            <div class="btn-group pull-right">
                                <button 
                                    data-toggle="dropdown" 
                                    class="btn btn-white dropdown-toggle transparent-bg" 
                                    type="button" 
                                    aria-expanded="false">
                                    <span class="caret"></span>
                                </button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                    <li><a href="javascript:void(0);" @click="showBackOfficeUserDetails(user)">View Details</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Manage</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="margin-top-m pull-right">
                <button 
                    @click="previous()"
                    :disabled="!canPrevious"
                    class="btn btn-danger app-btn-default">
                    Previous
                </button>
                <button 
                    @click="next()"
                    :disabled="!canNext"
                    class="btn btn-success app-btn-default">
                    Next
                </button>
            </div>
        </div>
        <div v-else>
            <div class="alert alert-block alert-primary fade in" v-if="loading">
                <strong>Loading</strong> <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
            </div>
            <div class="alert alert-block alert-danger fade in" v-else>
                <span v-if="!users.searchResults">
                    <strong>Aww Crap!</strong> No users exist. Try creating a new User.
                </span>
                <span v-else>
                    <strong>No results matching search</strong>
                </span>
            </div>
        </div>
    </div>

    <BackOfficeUserDetailsDialog 
        v-if="dialogOpts.userDetails.visible" 
        v-bind:user="dialogOpts.userDetails.selectedUser"
        v-bind:visible="dialogOpts.userDetails.visible"
        v-on:close-dialog="hideBackOfficeUserDetails" />

    <CreateBackOfficeUserDialog
        v-if="dialogOpts.createUser.visible"
        v-bind:visible="dialogOpts.createUser.visible"
        v-on:close-dialog="hideCreateBackOfficeUser" 
    />
        
</div>

