<div class="container">

    <div class="center center-login box-shadowed">
        <div class="col-md-6 max-height grey-bordered">
            <form role="form" @submit.prevent="doLogin" novalidate>
                <div class="row h-padding-20">
                    <h3 class="pull-left">Welcome</h3>
                </div><br />
                <div class="col-md-10">
                    <span class="wine" v-text="loginError"></span>
                </div>
                <div class="margin-top-big">
                    <div class="form-group h-padding-small">
                        <div class="iconic-input grey">
                            <i class="fa fa-user"></i>
                            <input type="text" v-model="username" 
                                class="form-control" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group h-padding-small">
                        <div class="iconic-input grey">
                            <i class="fa fa-unlock-alt"></i>
                            <input type="password" v-model="password" 
                                class="form-control" placeholder="Password" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 h-padding-small">
                    <a href="" class="pull-right">Forgot Password?</a>
                    <button type="submit" class="btn btn-primary pull-left" 
                        :disabled="loading">Login</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 max-height login-site-name-container">
            <div class="col-md-9 center">
                <img class="logo-img-medium" src="/static/images/icon.png" />&nbsp;
                <span class="white large-font">LuckyYou.NG</span>
            </div>
        </div>
    </div>

</div>

