<ul class="sidebar-menu" id="nav-accordion" style="display: block;">

    <li class="sub-menu dcjq-parent-li">
        <a href="javascript:;" class="dcjq-parent active">
            <i class="fa fa-users"></i>
            <span>Users</span>
            <span class="dcjq-icon"></span>
        </a>
        <ul class="sub">
            <li>
                <router-link to="/back-office/users/back-office">Back-Office</router-link>
            </li>
            <li>
                <router-link to="/back-office/users/partner">Partner</router-link>
            </li>
            <li>
                <router-link to="/back-office/users/lottery">Lottery</router-link>
            </li>
        </ul>
    </li>

    <li>
        <a href="index.html">
            <i class="fa fa-smile-o"></i>
            <span>Partners</span>
        </a>
    </li>

    <li>
        <a href="index.html">
            <i class="fa fa-bar-chart-o"></i>
            <span>Campaigns</span>
        </a>
    </li>

</ul>
